<div id="Login">
    <h2>Log in</h2>
    <form action="/action_page.php">
        <div class="row">
            <div class="col-12">
                <input type="text" class="form-control" placeholder="Username..." [(ngModel)]='user'
                    [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-12">
                <input type="password" placeholder="Password..." class="form-control" [(ngModel)]='pass'
                    [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <a routerLink='/ForgetPass'>Quên mật khẩu ??</a><br> <br>
        <button class="btn btn-primary" style="font-size: 18px;" (click)='Check()' data-toggle="modal"
            data-target="#myModal">Log in</button>
    </form>
</div>
<div class="modal fade" id="myModal" *ngIf='x > 0'>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Đăng nhập thành công</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                Thông tin tài khoản: <br>
                Username : {{Acc.account.username}} <br>
                Password : {{Acc.account.password}} <br>
                Fullname: {{Acc.account.fullname}} <br>
                Email: {{Acc.account.email}} <br>
                Gender: {{Acc.account.gender}} <br>
                Birthday: {{Acc.account.birthday}} <br>
                Schoolfee: {{Acc.account.schoolfee}} <br>
                Marks: {{Acc.account.marks}} <br>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sửa thông tin</button>
            </div>

        </div>
    </div>
</div>