<div class="row" style="padding: 60px;">
    <div class="col-6">
        <img src="../../assets/Phu.jpg" alt="" width="400px" height="auto">
    </div>
    <div class="col-6">
        <b>Created by:</b> <br>
        Trần Gia Phú <br>
        <b>Phone Number:</b> <br>
        0933022*** <br>
        <b>Facebook:</b> <br>
        <a href="https://www.facebook.com/Sinner0811">Gia Phú</a> <br>
        <b>Instagram:</b> <br>
        <a href="https://www.instagram.com/giaphu.co/?hl=vi">@giaphu.co</a> <br>
        <b>Github:</b> <br>
        <a href="https://github.com/Sinner81120">Sinner0811</a> <br>
        <b>Gmail:</b> <br>
        weed81120@gmail.com <br>
        <b>Dựa trên:</b> <br>
        <a href="www.https://www.w3schools.com" target="_blank">www.https://www.w3schools.com</a> <br>
        <b>Link bootstrap:</b> <br>
        <a href="https://getbootstrap.com/docs/4.0/getting-started/introduction"
            target="_blank">https://getbootstrap.com/docs/4.0/getting-started/introduction</a>
    </div>
</div>