<div id="Change">
    <h2>Change Password</h2>
    <form action="/action_page.php">
        <div class="row">
            <div class="col-12">
                <input type="password" class="form-control" placeholder="Password..." [(ngModel)]='pass'
                    [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-12">
                <input type="password" placeholder="New Password..." class="form-control" [(ngModel)]='passnew'
                    [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-12">
                <input type="password" placeholder="Re-Enter Password..." class="form-control" [(ngModel)]='repassnew'
                    [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <button class="btn btn-primary" (click)='Accept()' style="font-size: 18px;">Accept</button>
    </form>
</div>